* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
  }
  
  html {
    font-size: 62.5%;
  }

  :root {
      --primary-color: hsl(240, 100%, 20%);
      --secondary-color: hsl(240, 37%, 40%); 
      --tertiary-color: hsl(240, 25%, 60%);
      --quaternary-color: hsl(240, 25%, 80%);
      --broken-white: hsl(300, 20%, 97%);
      --black: hsl(0, 0, 0%);
  }

body {
    background-color: var(--broken-white);
    color: var(--primary-color);
    letter-spacing: .2rem;
}

hr {
    width: 80%;
    color: var(--primary-color);
    display: inline-block;
    text-align: center;
}

.header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    text-align: center;

    &__section {
    
      &--heading { 
        margin: 1rem;

        h1 {
          text-transform: uppercase;
          font-size: 5rem;
          letter-spacing: .5rem;
          text-shadow: .2rem .2rem .2rem var(--tertiary-color)
        }

        h3 {
          font-size: 2rem;
          color: var(--secondary-color);
        }
      }
      
      &--menu {
        margin-bottom: 1rem;

        a {
          font-size: 1.5rem;
          margin: .8rem;
        }
      }
    }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}

.post {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: fit-content;
  width: 30rem;
  margin: 1rem;

  &__img {
    width: 30rem;
  }

  &__date {
    font-size: 1.5rem;
    margin: 1rem;
  }

  &__title {
    margin-bottom: .5rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: .1rem .1rem .1rem var(--tertiary-color);
    line-height: 3rem;
  }

  &__content {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &__btn {
    padding: 1rem;
    margin-bottom: 2rem;
    align-self: center;
    
    width: fit-content;
    text-transform: uppercase;
    border: .1rem solid var(--primary-color);
    background-color: transparent;
    color: var(--primary--color);
  }
}

.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}